ul
	li: a(href = '/algorithms/binary-search') Binary Search
		ul
			li: a(href = '/algorithms/fractional-cascading') Fractional Cascading
	li Sorting
	li Greedy Algorithms
	li Dynamic Programming
	li Tree Algorithms
		ul
			li: a(href = '/algorithms/tree-traversals') Tree Traversals
	li Graph Algorithms
		ul
			li Breadth-First Search
			li Depth-First Search
			li Path Finding
			li Minimum Spanning Trees
	li Bit Manipulation