ul
	li: a(href = '/algorithms/binary-search') Binary Search
	li Sorting
	li Greedy Algorithms
	li Dynamic Programming
	li: a(href = '/algorithms/tree-algorithms') Tree Algorithms
		ul
			li: a(href = '/algorithms/binary-tree-traversals') Binary Tree Traversals
	li Graph Algorithms
		ul
			li Breadth-First Search
			li Depth-First Search
			li Path Finding
			li Minimum Spanning Trees
	li Bit Manipulation