ul
	li Sorting
	li Greedy Algorithms
	li Dynamic Programming
	li Tree Algorithms
		ul
			li Traversals
			li Binary Search
	li Graph Algorithms
		ul
			li Breadth-First Search
			li Depth-First Search
			li Path Finding
			li Minimum Spanning Trees
	li Bit Manipulation