extends ../_shared/page-layout

block page-body

	h1 Algorithms

	p An algorithm is a #[strong well-defined process or set of rules] to be followed in a calculation or problem solving operation.

	h2 Contents

	include _menu