extends ../_shared/page-layout

block page-body

	h1 Data Structures &amp; Algorithms Notes

	div.row
		div.col-md-6
			h2 What is This?

			p.
				I'm (#[a(href = 'http://ormo.me') who?]) embarking on a project to brush-up, expand and hopefully master my grasp of data structures, algorithms and general coding good practises.
				This repo contains my notes, which I'm trying to create in a well-presented format that I can easily look back on.

			p I'll be adding all of my notes here; sections without a link are still on my to-do list.

		div.col-md-6
			h2 Contents

			ul
				li
					a(href = '/data-structures') Data Structures
					include ../_shared/data-structures-menu
				li
					a(href = '/algorithms') Algorithms
					include ../_shared/algorithms-menu