ul
	li: a(href = '/data-structures/arrays') Arrays
		ul
			li: a(href = '/data-structures/dynamic-arrays') Dynamic Arrays
	li: a(href = '/data-structures/linked-lists') Linked Lists
	li: a(href = '/data-structures/deques') Double-Ended Queues (Deques)
		ul
			li: a(href = '/data-structures/queues') Queues
			li: a(href = '/data-structures/stacks') Stacks
	li Priority Queues
	li Trees
		ul
			li Balanced Trees
			li Ropes
	li Heaps
	li Disjoint Sets
	li Tries