ul
	li: a(href = '/data-structures/arrays') Arrays
		ul
			li: a(href = '/data-structures/dynamic-arrays') Dynamic Arrays
			li: a(href = '/data-structures/sparse-arrays') Sparse Arrays
	li: a(href = '/data-structures/linked-lists') Linked Lists
	li: a(href = '/data-structures/deques') Double-Ended Queues (Deques)
		ul
			li: a(href = '/data-structures/queues') Queues
			li: a(href = '/data-structures/stacks') Stacks
	li Priority Queues
	li: a(href = '/data-structures/trees') Trees
		ul
			li: a(href = '/data-structures/binary-search-trees') Binary Search Trees
			li: a(href = '/data-structures/balanced-trees') Balanced Trees
	li Heaps
	li Hash Maps
	li Disjoint Sets
	li Tries