extends ../_shared/page-layout

block page-body

	h1 Data Structures

	p.
		A data structure is a #[strong specialised format for organising and storing data].
		Data structures are designed to organise data to suit a #[strong specific set of purposes] so that it can be accessed and worked with in specific ways.

	h2 Contents

	include _menu