extends ../_shared/page-layout

block page-body

	h1 Linked Lists

	ul
		li: a(href = '#efficiency') Efficiency
		li: a(href = '#example-basic-usage') Example: Basic Usage

	p A linked list is a #[strong linear collection of nodes], each of which typically contains a data element and a pointer to the next node. Additional pointers are maintained for the list's #[strong head] (first node) and optionally its #[strong tail] (last node).

	p TODO: the rest of this