// fonts

* {
	font-size: 18px;
	line-height: 1.6;
}

pre, code, pre code, pre code span {
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, li, input, textarea, label, td, th {
	font-family: 'Lato', sans-serif !important;
	font-weight: lighter;
}

strong, th {
	font-weight: normal;
}

.text-mono {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

// bootstrap mods

.table-non-full {
	width: auto !important;
}